* {
    box-sizing: border-box;
}

/*image formatting section */

#imgh {
    width: 10em;
    height: auto;
    border-radius: 0.5em;
   
}

#whitespace {
    height: 50em;
}

/*  header flex formatting section */

.headerflex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

#hbox span {
    padding-left: 4em;
}

#dspan {
    height: 5em;
    border-style: solid;
    border-bottom: 0em;
    border-top: 0em;
    border-left: 0em;
    border-width: 0.2em;
   
}

/* body flex formatting section */

#section-about {
    display: flex;
    justify-content: space-between;
}

#section-work {
    display: flex;
    justify-content: space-evenly;
}